#### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

#### Step 2. Import the dataset from this address

#### Step 3. Assign it to a variable called chipo

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep='\t')

In [3]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

#### Step 4. See the first 10 entries

In [4]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

#### Step 5. What is the number of observations in the dataset?

In [5]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [6]:
chipo.shape

(4622, 5)

#### Step 6. What is the number of columns in the dataset?

In [7]:
chipo.shape[1]

5

#### Step 7. Print the name of all the columns.

In [8]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

#### Step 8. How is the dataset indexed?

In [9]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

#### Step 9. Which was the most-ordered item?

In [10]:
c = chipo.groupby('item_name') 
c = c.sum()
print(c)

                                       order_id  quantity  \
item_name
6 Pack Soft Drink                         52322        55
Barbacoa Bowl                             53972        66
Barbacoa Burrito                          74718        91
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Barbacoa Soft Tacos                       18725        25
Bottled Water                            175944       211
Bowl                                        472         4
Burrito                                    1550         6
Canned Soda                               76396       126
Canned Soft Drink                        304753       351
Carnitas Bowl                             62742        71
Carnitas Burrito                          51652        60
Carnitas Crispy Tacos                      5868         8
Carnitas Salad                             1500         1
Carnitas Salad Bowl                        6693         6
Carnitas Soft Tacos                       37673        40
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chicken Crispy Tacos                      47382        50
Chicken Salad                             10465         9
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Chips                                    208004       230
Chips and Fresh Tomato Salsa             100419       130
Chips and Guacamole                      449959       506
Chips and Mild Fresh Tomato Salsa           279         1
Chips and Roasted Chili Corn Salsa        14999        23
Chips and Roasted Chili-Corn Salsa        17462        18
Chips and Tomatillo Green Chili Salsa     41170        45
Chips and Tomatillo Red Chili Salsa       45556        50
Chips and Tomatillo-Green Chili Salsa     21826        33
Chips and Tomatillo-Red Chili Salsa       18344        25
Crispy Tacos                                434         2
Izze                                      10587        20
Nantucket Nectar                          21814        29
Salad                                      1150         2
Side of Chips                             84769       110
Steak Bowl                               193752       221
Steak Burrito                            328437       386
Steak Crispy Tacos                        35818        36
Steak Salad                                2362         4
Steak Salad Bowl                          29590        31
Steak Soft Tacos                          50177        56
Veggie Bowl                               72270        87
Veggie Burrito                            80962        97
Veggie Crispy Tacos                         668         1
Veggie Salad                               7265         6
Veggie Salad Bowl                         17303        18
Veggie Soft Tacos                          5520         8

                                                                      choice_description  \
item_name
6 Pack Soft Drink                      [Sprite][Diet Coke][Coke][Diet Coke][Diet Coke...
Barbacoa Bowl                          [Roasted Chili Corn Salsa, [Fajita Vegetables,...
Barbacoa Burrito                       [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...
Barbacoa Crispy Tacos                  [Tomatillo Red Chili Salsa, [Rice, Black Beans...
Barbacoa Salad Bowl                    [Fresh Tomato Salsa, [Rice, Fajita Vegetables,...
Barbacoa Soft Tacos                    [Fresh Tomato Salsa, [Fajita Vegetables, Black...
Bottled Water                                                                          0
Bowl                                   [Braised Carnitas, Pinto Beans, [Sour Cream, C...
Burrito                                [Adobo-Marinated and Grilled Chicken, Pinto Be...
Canned Soda                            [Sprite][Dr. Pepper][Mountain Dew][Sprite][Dr....
Canned Soft Drink                      [Coke][Sprite][Coke][Coke][Lemonade][Sprite][D...
Carnitas Bowl                          [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
Carnitas Burrito                       [[Tomatillo-Green Chili Salsa (Medium), Roaste...
Carnitas Crispy Tacos                  [Roasted Chili Corn Salsa][Tomatillo Green Chi...
Carnitas Salad                         [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...
Carnitas Salad Bowl                    [Fresh Tomato Salsa, [Rice, Black Beans, Chees...
Carnitas Soft Tacos                    [Tomatillo Green Chili Salsa, [Fajita Vegetabl...
Chicken Bowl                           [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
Chicken Burrito                        [Tomatillo-Green Chili Salsa (Medium), [Pinto ...
Chicken Crispy Tacos                   [Roasted Chili Corn Salsa, [Fajita Vegetables,...
Chicken Salad                          [Roasted Chili Corn Salsa (Medium), [Black Bea...
Chicken Salad Bowl                     [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
Chicken Soft Tacos                     [Roasted Chili Corn Salsa, [Rice, Black Beans,...
Chips                                                                                  0
Chips and Fresh Tomato Salsa                                                           0
Chips and Guacamole                                                                    0
Chips and Mild Fresh Tomato Salsa                                                      0
Chips and Roasted Chili Corn Salsa                                                     0
Chips and Roasted Chili-Corn Salsa                                                     0
Chips and Tomatillo Green Chili Salsa                                                  0
Chips and Tomatillo Red Chili Salsa                                                    0
Chips and Tomatillo-Green Chili Salsa                                                  0
Chips and Tomatillo-Red Chili Salsa                                                    0
Crispy Tacos                           [Adobo-Marinated and Grilled Steak][Adobo-Mari...
Izze                                   [Clementine][Grapefruit][Blackberry][Blackberr...
Nantucket Nectar                       [Apple][Pomegranate Cherry][Pineapple Orange B...
Salad                                  [Brown Rice, Adobo-Marinated and Grilled Chick...
Side of Chips                                                                          0
Steak Bowl                             [Fresh Tomato Salsa (Mild), [Black Beans, Rice...
Steak Burrito                          [Tomatillo Red Chili Salsa, [Fajita Vegetables...
Steak Crispy Tacos                     [Fresh Tomato Salsa, Sour Cream][[Roasted Chil...
Steak Salad                            [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
Steak Salad Bowl                       [Tomatillo Red Chili Salsa, [Black Beans, Chee...
Steak Soft Tacos                       [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...
Veggie Bowl                            [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...
Veggie Burrito                         [Tomatillo Red Chili Salsa, [Fajita Vegetables...
Veggie Crispy Tacos                    [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...
Veggie Salad                           [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...
Veggie Salad Bowl                      [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...
Veggie Soft Tacos                      [Tomatillo Red Chili Salsa, [Fajita Vegetables...

                                                                              item_price
item_name
6 Pack Soft Drink                      $6.49 $6.49 $6.49 $6.49 $6.49 $6.49 $6.49 $6.4...
Barbacoa Bowl                          $11.75 $11.75 $9.25 $8.99 $9.25 $11.75 $9.25 $...
Barbacoa Burrito                       $8.99 $9.25 $9.25 $11.75 $11.75 $9.25 $8.99 $1...
Barbacoa Crispy Tacos                  $11.75 $9.25 $11.48 $11.75 $9.25 $9.25 $8.99 $...
Barbacoa Salad Bowl                    $11.89 $11.89 $9.39 $9.39 $9.39 $11.89 $11.89 ...
Barbacoa Soft Tacos                    $9.25 $9.25 $8.99 $9.25 $9.25 $11.75 $11.75 $9...
Bottled Water                          $1.09 $1.09 $1.09 $1.50 $1.50 $1.50 $3.00 $1.5...
Bowl                                                                       $22.20 $7.40
Burrito                                             $7.40 $7.40 $7.40 $7.40 $7.40 $7.40
Canned Soda                            $2.18 $1.09 $2.18 $1.09 $1.09 $1.09 $1.09 $2.1...
Canned Soft Drink                      $1.25 $1.25 $1.25 $1.25 $1.25 $1.25 $1.25 $1.2...
Carnitas Bowl                          $8.99 $11.75 $9.25 $11.48 $8.99 $8.99 $23.50 $...
Carnitas Burrito                       $8.99 $9.25 $11.75 $9.25 $9.25 $9.25 $11.75 $9...
Carnitas Crispy Tacos                      $9.25 $11.75 $8.99 $11.75 $8.99 $17.98 $9.25
Carnitas Salad                                                                    $8.99
Carnitas Salad Bowl                             $11.89 $9.39 $11.89 $9.39 $11.89 $11.89
Carnitas Soft Tacos                    $9.25 $9.25 $9.25 $9.25 $9.25 $8.99 $8.99 $8.9...
Chicken Bowl                           $16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...
Chicken Burrito                        $8.49 $8.49 $10.98 $8.49 $10.98 $10.98 $8.75 $...
Chicken Crispy Tacos                   $8.75 $17.50 $11.25 $8.49 $8.49 $11.25 $8.75 $...
Chicken Salad                          $10.98 $10.98 $8.49 $8.49 $8.49 $8.49 $8.49 $8...
Chicken Salad Bowl                     $8.75 $22.50 $22.50 $8.75 $17.50 $8.75 $8.75 $...
Chicken Soft Tacos                     $8.75 $8.75 $8.75 $8.75 $11.25 $8.49 $8.49 $8....
Chips                                  $2.15 $2.15 $2.15 $2.15 $2.15 $2.15 $4.30 $2.1...
Chips and Fresh Tomato Salsa           $2.39 $2.39 $2.39 $2.95 $2.95 $2.95 $2.95 $2.3...
Chips and Guacamole                    $4.45 $4.45 $4.45 $4.45 $4.45 $3.99 $4.45 $3.9...
Chips and Mild Fresh Tomato Salsa                                                 $3.00
Chips and Roasted Chili Corn Salsa     $2.95 $2.95 $2.95 $2.95 $2.95 $2.95 $2.95 $2.9...
Chips and Roasted Chili-Corn Salsa     $2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.3...
Chips and Tomatillo Green Chili Salsa  $2.95 $2.95 $5.90 $2.95 $2.95 $2.95 $2.95 $2.9...
Chips and Tomatillo Red Chili Salsa    $2.95 $2.95 $2.95 $2.95 $2.95 $2.95 $2.95 $2.9...
Chips and Tomatillo-Green Chili Salsa  $2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.3...
Chips and Tomatillo-Red Chili Salsa    $2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.3...
Crispy Tacos                                                                $7.40 $7.40
Izze                                   $3.39 $3.39 $3.39 $3.39 $3.39 $3.39 $3.39 $3.3...
Nantucket Nectar                       $3.39 $3.39 $3.39 $3.39 $3.39 $3.39 $6.78 $3.3...
Salad                                                                       $7.40 $7.40
Side of Chips                          $1.69 $1.69 $1.69 $1.69 $1.69 $1.69 $1.69 $1.6...
Steak Bowl                             $8.99 $8.99 $11.75 $11.75 $8.99 $11.48 $9.25 $...
Steak Burrito                          $11.75 $9.25 $8.99 $11.75 $8.99 $8.99 $8.99 $8...
Steak Crispy Tacos                     $9.25 $8.99 $9.25 $8.69 $8.99 $9.25 $8.99 $9.2...
Steak Salad                                                     $8.99 $8.99 $8.99 $8.69
Steak Salad Bowl                       $23.78 $11.89 $9.39 $23.78 $11.89 $11.89 $11.8...
Steak Soft Tacos                       $9.25 $9.25 $8.99 $9.25 $8.99 $8.99 $9.25 $9.2...
Veggie Bowl                            $11.25 $8.49 $11.25 $11.25 $8.49 $11.25 $11.25...
Veggie Burrito                         $11.25 $8.49 $11.25 $11.25 $10.98 $8.49 $8.49 ...
Veggie Crispy Tacos                                                               $8.49
Veggie Salad                                        $8.49 $8.49 $8.49 $8.49 $8.49 $8.49
Veggie Salad Bowl                      $11.25 $11.25 $11.25 $11.25 $8.75 $8.75 $11.25...
Veggie Soft Tacos                          $11.25 $8.75 $8.49 $11.25 $8.75 $8.49 $16.98

In [11]:
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

,order_id,quantity,choice_description,item_price
item_name,,,,
Chicken Bowl,713926,761,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...

#### Step 9-1. Which was the most-ordered item?

In [12]:
filtered_df = chipo.set_index('item_name')[['order_id', 'quantity']]

most_ordered = filtered_df.sort_values(['quantity'], ascending=False)
most_ordered.head(1)

# 위 코드에서는 그룹화를 하지 않았기 때문에, 특정 아이템의 총 수량이 아니라 
# 개별 주문의 수량을 기준으로 가장 큰 값을 선택하는 코드

                              order_id  quantity
item_name
Chips and Fresh Tomato Salsa      1443        15

#### Step 10. For the most-ordered item, how many items were ordered?

In [13]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c[['order_id', 'quantity']].head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

#### Step 11. What was the most orderd item in the choice_description column?

In [14]:
c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
c[['order_id', 'quantity']].head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

#### Step 12. How many items were ordered in total?

In [15]:
total_items = chipo['quantity'].sum()
total_items

4972

#### Step 13. Turn the item price into a float

In [16]:
chipo['item_price'].dtype

dtype('O')

In [17]:
chipo['item_price'].astype('float')

ValueError: could not convert string to float: '$2.39 '

In [18]:
chipo['item_price'] = chipo['item_price'].str.replace('$', '')
chipo['item_price'] = chipo['item_price'].astype('float')

In [19]:
chipo['item_price'].dtype

dtype('float64')

#### Step 14. How much was the revenue for the period in the dataset?

In [20]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [21]:
revenue = (chipo['quantity'] * chipo['item_price']).sum()
revenue

39237.02

In [22]:
print('Revenue was: $' + str(np.round(revenue, 2)))

Revenue was: $39237.02

#### Step 15. How many orders were made in the period?

In [24]:
orders = chipo['order_id'].value_counts().count()
orders

1834

#### Step 16. What is the average revenue amount per order?

In [26]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
 5   revenue             4622 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 216.8+ KB

In [31]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']

chipo.groupby(by=['order_id']).sum().head()

,quantity,item_name,choice_description,item_price,revenue
order_id,,,,,
1,4,Chips and Fresh Tomato SalsaIzzeNantucket Nect...,[Clementine][Apple],11.56,11.56
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
3,2,Chicken BowlSide of Chips,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",12.67,12.67
4,2,Steak BurritoSteak Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",21.00,21.00
5,2,Steak BurritoChips and Guacamole,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",13.70,13.70

In [34]:
grouped_sum = chipo.groupby(by=['order_id']).sum()
print(type(grouped_sum))

<class 'pandas.core.frame.DataFrame'>

In [36]:
grouped_sum.mean(numeric_only=True)['revenue']

# numeric_only=True: DataFrame에는 숫자형 데이터 뿐만 아니라, 문자열이나 객체도 포함될 수 있다.
# mean()과 같은 연산은 숫자에만 적용되어야 하므로, 비숫자형 데이터가 포함되어 있으면 TypeError발생 가능성 
#

21.39423118865867

#### Step 17. How many different items are sold?

In [29]:
chipo['item_name'].value_counts().count()

50